@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --background-rgb: 250, 246, 240;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #FFF;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-color);
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
