@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #3C2A21;
    font-family: 'Outfit', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #E5E5CB;
}

header {
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 200px;
}

header .right,
header .left,
header .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

header .right {
    justify-content: right;
}

header .left {
    justify-content: left;
}

header .right a {
    margin-right: 20px;
}

#contact {
    color: white;
    padding: 10px 20px;
    background-color: #3C2A21;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: large;
}

#contact:hover {
    box-shadow: #3C2A21 2px 2px;
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    font-size: larger;
    margin: 0 80px;
    /* From https://css.glass */
    background: rgba(213, 206, 163, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(213, 206, 163, 0.31);
}

.bottomnav {
    margin-bottom: 80px;
    justify-content: space-between;
    background: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
    padding-top: 80px;
}

.bottomnav div {
    display: flex;
    gap: 20px;
    align-items: center;
}

#top, #top_titleonly {
    padding: 80px;
    padding-bottom: 0;
    font-size: 4em;
}

.balise {
    color: #1A120B;
}

#moreaboutme {
    padding: 80px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(300px, auto);
    gap: 40px;
}

.unit .title {
    color: #1A120B;
}

.unit ul {
    font-size: smaller;
    margin-top: 20px;
}

.unit ul .details {
    font-size: smaller;
    font-style: italic;
}

.unit ul .dates {
    font-size: smaller;
}

#seeprojects {
    /* From https://css.glass */
    background: rgba(213, 206, 163, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(213, 206, 163, 0.31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20%;
}

#seeprojects .balise {
    font-size: larger;
}

#seeprojects a {
    font-size: smaller;
}

#calltoaction {
    padding: 80px;
    font-size: 2em;
}

#calltoaction .bottom {
    /* From https://css.glass */
    background: rgba(60, 42, 33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(60, 42, 33, 0.31);
    padding: 80px;
    display: flex;
    align-items: center;
}

#calltoaction .bottom p {
    color: rgba(213, 206, 163, 1)
}

.projects {
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(300px, auto);
    gap: 40px;
}

.projects .project {
    padding: 40px;
    /* From https://css.glass */
    background: rgba(213, 206, 163, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(213, 206, 163, 0.31);
    display: flex;
    flex-direction: column;
    min-height: 250px;
    border-radius: 16px;

}

.projects .project .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.projects .project .title img {
    height: 60px;
    border-radius: 15px;
    border: 3px #3c2a21 solid;
    align-self: baseline;
}

.projects .project .title p {
    font-size: 2em;
    margin-left: 20px;
}

.projects .project .button {
    height: fit-content;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1;
}

#edt_iut_périgueux {
    /* From https://css.glass */
    background: #673bb7;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #673bb7;
}

#edt_iut_périgueux p,
#edt_iut_périgueux a,
#spotifysync p,
#spotifysync a,
#plumeo p,
#plumeo a {
    color: white;
}

#edt_iut_périgueux img,
#spotifysync img,
#plumeo img {
    border-color: white;
}

#pourcentage {
    /* From https://css.glass */
    background: rgb(255, 204, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(255, 204, 0);
}

#spotifysync {
    /* From https://css.glass */
    background: #52b960;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid #52b960;
}

#plumeo {
    /* From https://css.glass */
    background: rgb(33, 33, 33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(33, 33, 33);
}

#manotesurvingt {
    /* From https://css.glass */
    background: rgba(144, 238, 144, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(144, 238, 144, 1);
}

@media (max-width: 1400px) {
    #moreaboutme {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 0;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {

    html,
    body {
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .mobilenone {
        display: none;
    }

    header {
        padding: 40px 20px 0 20px;
    }

    header .left,
    header .right {
        display: none;
    }

    header .middle {
        justify-content: left;
    }

    nav {
        margin: 0;
        flex-direction: column;
        gap: 10px;
        background-color: transparent;
        border: none;
        box-shadow: none;
        font-size: larger;
        align-items: flex-start;
        padding: 40px 20px;
        padding-bottom: 0;
    }

    #top, #top_titleonly {
        font-size: 2em;
        padding: 20px;
        height: 60%;
    }

    #top_titleonly {
        height: max-content;
    }

    #moreaboutme {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: minmax(auto, auto);
        padding: 20px;
        padding-top: 0;
    }

    #calltoaction {
        padding: 40px 00px;
    }

    #calltoaction .bottom {
        padding: 40px 20px;
        border-radius: 0;
        font-size: 0.7em;
    }

    #seeprojects {
        padding: 20px;
        height: 300px;
    }

    #seeprojects div {
        text-align: center;
    }

    .bottomnav {
        padding: 0;
        height: 100%;
        margin: 0;
        justify-content: center;
        background-color: rgba(213, 206, 163, 1);
        border-radius: 0;
    }

    .bottomnav div {
        justify-content: center;
        margin: 0 20px;
        text-align: left;
    }

    .projects {
        display: block;
        padding: 0;
        margin-bottom: 80px;
    }

    .projects .project {
        border-radius: 0;
        height: 100%;
        box-shadow: none;
    }
}