@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #1A120B;
  --selected-text-color: #D5CEA3;
  --background-color: #E5E5CB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #FFF;
    --background-color: #1A120B;
  }
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

@layer utilities {  
  .text-balance {
    text-wrap: balance;
  }
}
